body {
  margin: 0px !important;
  background-color: #d8d4f2 !important;
  box-sizing: border-box !important;
}

.App {
  width: 100% !important;
  max-width: 850px;
  margin: 0 auto;
  font-family: "Times New Roman";
}

.App h1 {
  font-weight: 900;
  font-size: 70px;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 17px;
}
