.Phonetic {
  display: flex;
  align-items: center;
}

.Phonetic__text {
  display: flex;
  align-items: center;
  margin-left: -5px;
  line-height: 2.5;
  margin-top: 7px;
}

.Phonetic__text__phonetic {
  margin-right: 10px;
}

.Phonetic .play {
  width: fit-content;
  background-color: #b97ebb;
  color: white;
}

.Phonetic .not-available {
  border: 3px solid #b97ebb;
  border-radius: 20px;
  padding: 10px;
}
